body {

}

element.style {
    display: flex;
    justify-content: center;
}

.continer {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1152px;
    height: 700px;
    background-color: #370617;
}

.first-block {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 468px;
    height: 160px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #F48C06;
}

.reck-1 {
    width: 78px;
    height: 78px;
    background-color: #9D0208;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
}

.reck-2 {
    width: 78px;
    height: 78px;
    margin-top: 20px;
    margin-left: 20px;
    background: #9D0208;
    border-radius: 4px;
}

.reck-3 {
    width: 78px;
    height: 78px;
    margin-top: 20px;
    margin-left: 20px;
    background: #9D0208;
    border-radius: 4px;
}

.second-block {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 468px;
    height: 160px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #F48C06
}

.reck-4 {
    width: 78px;
    height: 120px;
    margin-left: 20px;
    margin-top: 20px;
    background: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.reck-5 {
    width: 78px;
    height: 120px;
    margin-left: 20px;
    margin-top: 20px;
    background: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.reck-6 {
    width: 78px;
    height: 120px;
    margin-left: 20px;
    margin-top: 20px;
    background: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.third-block {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    width: 468px;
    height: 160px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #F48C06
}

.reck-7 {
    width: 78px;
    height: 78px;
    margin-left: 20px;
    margin-top: 20px;
    background: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.reck-8 {
    width: 78px;
    height: 78px;
    margin-left: 20px;
    margin-top: 20px;
    background: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.reck-9 {
    width: 78px;
    height: 78px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.fourth-block {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 468px;
    height: 160px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #F48C06
}

.reck-10 {
    width: 78px;
    height: 78px;
    margin-top: 20px;
    margin-left: 20px;
    background: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.reck-11 {
    width: 78px;
    height: 78px;
    margin-top: 20px;
    margin-left: 20px;
    background: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.reck-12 {
    align-self: flex-end;
    width: 78px;
    height: 78px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.fifth-block {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 468px;
    height: 160px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #F48C06
}

.reck-13 {
    width: 78px;
    height: 120px;
    margin-top: 20px;
    margin-left: 20px;
    background: #9D0208;
    border-radius: 4px;
}

.text-1 {
    margin-top: 20px;
    margin-left: 20px;
    width: 54px;
    height: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.reck-14 {
    width: 78px;
    height: 64px;
    margin-top: 20px;
    margin-left: 20px;
    background: #9D0208;
    border-radius: 4px;
}

.text-2 {
    width: 54px;
    height: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.reck-15 {
    width: 78px;
    height: 120px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background: #9D0208;
    border-radius: 4px;
}

.text-3 {
    width: 54px;
    height: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.sixth-block {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 468px;
    height: 160px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #F48C06
}

.reck-16 {
    width: 78px;
    height: 78px;
    margin-top: 20px;
    margin-left: 20px;
    background: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.reck-17 {
    width: 156px;
    height: 78px;
    margin-top: 20px;
    margin-left: 20px;
    background: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.reck-18 {
    width: 78px;
    height: 78px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}